* {
    font-family: 'Baloo Chettan', cursive;
}

.panel {
    width: 400px;
    height: 400px;
    background-image: linear-gradient(135deg, #ff00ba 0%, #fae713 100%);

    transform-style: preserve-3d;
}

.panel p {
    color: white;
    font-size: 42px;
    text-align: center;
    vertical-align: middle; 
    line-height: 400px;
    
    transform: translateZ(20px);
}
